#container {
  width: 750px;
  height: 800px;
  background-color: black;
  margin: 0px auto;
}
h1 {
  font-weight: bold;
  color: white;
  margin-left: 10px;
}
p {
  font-size: normal;
  width: 700px;
  color: white;
  line-height: 1.5;
  margin: 15px;
}
#images {
  display: inline-block;
  vertical-align: top;
}
.beer {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  border: 4px solid grey;
}
